@import "tailwindcss";

:root {
  --background: #0b1220;
  --foreground: #e5e7eb;
}

.light {
  --background: #f9fafb;
  --foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-mono);
  --font-mono: var(--font-space-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), monospace;
  transition: background-color 0.3s, color 0.3s;
}
